<%- include("parts/header") %>
<%- include("parts/navbar") %> 


<style >

    @media (max-width: 767px){
       .login-page{
       border: 2px solid black;
       border-radius: 10px; 
       width: 300px;
       margin-top: 60px;
       margin-left: 45px;
    }
    .account-password{
        border: 1px solid red;
        margin-bottom: 5px;
    }
    }
   
    @media (min-width: 768px){
       .login-page{
       border: 2px solid black;
       border-radius: 10px; 
       width: 400px;
       margin-top: 60px;
       }

       .account-password{
        border: 1px solid red;
         width: fit-content;
         margin-bottom: 5px;
       }
    }
   </style>

<div class="container text-content login-page">
    <h3>create account</h3>
    <form method="POST" action="/login">
        <input type="email" class="form-control" name="email" placeholder="E-email" />
        <input type="password" style="margin-top:10px" class="form-control" name="password" placeholder="password" />
        <input type="submit" style="margin-top:15px" value="login" class="btn btn-primary" />
    </form>
    <% if(loginValidationResult){ %>
        <% for(let error of loginValidationResult) { %>
        <div class="alert alert-danger"><%= error.msg %></div>
        <% } %>
        <% } %> 

      <% if(loginError.length > 0) {%>
       <div class="alert alert-danger"></div>
        <% } %>
            
   
    <br>
    <div>
        create account? <a href="/signup">signup</a>
    </div>
    <br>

    <div class="account-password" >
        <ul>
            <li>admin account: admin@gmail.com</li>
            <li>password: 123456</li>
        </ul>
        <ul>
            <li>user account: user@gmail.com</li>
            <li>password: 123456</li>
        </ul>
    </div>
</div>

<%- include("parts/footer") %> 