<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/cart">cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders">orders</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="/login">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">singUp</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="/adim/add">add product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/orders">manage orders</a>
          </li>
         
        </ul>
         
        <form action="/logout" method="POST">
          <input type="submit" value="LOGOUT" class="btn btn-danger" />
        </form>
        
      </div>
    </div>
    </div>
  </nav>